<html>
  <head>
    <meta charset="UTF-8" />
    <title>Segunda entrega</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Segunda entrega - Saczuk Sebastian - Programación Backend</title>
  </head>

  <body>
    {{{body}}}
  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</html>